/* Windows 95 Colours */
$base-background: #008081;
$secondary-background: #c0c0c0;
$window-title-background: #000181;

$text-light: #ffffff;
$text-dark: #000000;

$white: #ffffff;

$border-light: #fcfcfc;
$border-dark: #08080e;
