/* Windows 95 Colours */
$base-background: #008081;
$secondary-background: #c0c0c0;

$dark-blue: #000181;
$dark-gray: #808080;

$text-light: #ffffff;
$text-dark: #000000;
$link: #007bff;

$white: #ffffff;

$border-light: #fcfcfc;
$border-dark: #08080e;
